@model IDictionary<Int32, Int32>
@{
    var param = Model.First();
    var currentPage = (int)ViewBag.Pagina;
    var division = (double)param.Key / param.Value;
    var totalPages = (int)division == division ? (int)division : (int)division + 1;
    var startPage = currentPage - 8 < 0 ? 0 : currentPage - 8;
    var endPage = startPage + param.Value > totalPages ? totalPages : startPage + param.Value;
}
<div class="text-center">
    @this.Hidden("Pagina").Value((int)ViewBag.Pagina)
    <ul class="pagination pagination-lg">
        @if (currentPage != 1)
        {
            <li><a class="paginate" id="pagina-@(currentPage - 1)" href="#">«</a></li>
            if (startPage > 0)
            {
                <li><a class="paginate" id="pagina-1" href="#">1</a></li>
                <li><a class="disabled removable">...</a></li>
            }
        }
        @for (int i = startPage; i < endPage; i++)
        {
            <li class="@(currentPage == i + 1 ? "active" : "")"><a class="@(currentPage == i + 1 ? "" : "paginate")" id="pagina-@(i + 1)">@(i + 1)</a></li>
        }
        @if (currentPage != endPage)
        {
            if (endPage < totalPages)
            {
                <li><a class="disabled removable">...</a></li>
                <li><a class="paginate" id="pagina-@(totalPages)" href="#">@(totalPages)</a></li>
            }
            <li><a class="paginate" id="pagina-@(currentPage + 1)" href="#">»</a></li>
        }
    </ul>
</div>