@model List<TBook>
@{
    ViewBag.Title = "Index Cliente";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<h2>
    Livros
</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header">
                        Título
                    </th>
                    <th class="header">
                        Páginas
                    <th class="header">
                        Autor
                    </th>
                    <th class="header">
                        Edição
                    </th>
                    <th class="header">
                        Ano
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Pages
                            </td>
                            <td>
                                @item.Author
                            </td>
                            <td>
                                @item.Edition
                            </td>
                            <td>
                                @item.Year
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="15" class="text-center">
                            <strong>Nenhum registro encontrado</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

