@inherits ModelWebViewPage<TReservation>
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-lg-12">
            @this.Label(x => x.Client).Class("control-label").Value("Clientes:")
            @this.AutoSelect(x => x.Client).Class("required form-control").FirstOption("", "Selecione uma opção")
        </div>
        <div class="col-lg-12">
            @this.Label(x => x.Itens).Class("control-label").Value("Filme:")
            @this.AutoSelect(x => x.Itens).Class("form-control").Attr("name", "Itensreserva").FirstOption("", "Selecione uma opção")
        </div>
        <div class="offset1 col-lg-12 required" name="Itens">
            <table class="table table-striped" id="table-itens">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Filme</th>
                        <th>Quantidade</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody class="item">
                    @foreach (var iten in Model.TItens)
                    {
                        @Html.Partial("_listar-filmes", iten.Movie)
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            @this.Label(x => x.Withdraw).Class("control-label").Value("Retirar:")
            @this.DatePicker(x => x.Withdraw).Class("required form-control").Value(Model.Id == 0 ? DateTime.Now : Model.Withdraw)
            @Html.ValidationMessageFor(x => x.Withdraw)
        </div>
        <div class="col-lg-12">
            @this.Label(x => x.Devolution).Class("control-label").Value("Devolução:")
            @this.DatePicker(x => x.Devolution).Class("required form-control").Value(Model.Id == 0 ? DateTime.Now.AddDays(7) : Model.Devolution)
            @Html.ValidationMessageFor(x => x.Devolution)
        </div>
        <div class="col-md-12 text-center" style="margin-top: 15px;">
            <button type="button" class="btn btn-info btn-lg" onclick="location.href='@Url.Action(MVC.Painel.Reservas.Index())'">
                <i class="fas fa-times"></i> Voltar
            </button>
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-check"></i> Salvar
            </button>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $("form").validate();
        $("select#Itensreserva").change(function () {
            var idValorSelecionado = $(this).val();
            $.post("@Url.Action(MVC.Painel.Reservas.ListarFilmes())", { id: idValorSelecionado }, function (data) {
                //data é onde é "retornado" os dados da Action que foi feito o post ou get
                $('#table-itens > tbody.item:last-child').append(data);
                //Esse table itens não é necessariamente para a tag table (ou, a tabela), mas é o id da minha tabela e não ela mesma
                $("select#Itensreserva option[value = " + idValorSelecionado + "]").remove();
            });
        });

        $("a.excluir-filmes").livequery("click", function () {
            var idItemQueDesejoRemover = $(this).parents("tr").find("input.id-movie").val();
            $(this).parents("tr").remove();
            $("select#Itensreserva").append("<option value=" + idItemQueDesejoRemover + ">" + $(this).parents("tr").data("filme") + "</option>");
        });

    });
</script>