@model TMovie
<tr data-id="@Model.Id" data-filme="@Model.Name">
    <input type="hidden" name="Itens" class="id-movie" value="@Model.Id" />
    <td><h4>@Model.Id</h4></td>
    <td><h4>@Model.Name</h4></td>
    <td><input type="number" name="Quantities" class="box-numerico" value="1" /></td>
    <td>
        <a class="excluir-filmes" data-nome="Model.Name" style="cursor: pointer">Excluir</a>
    </td>
</tr>
